.container-crear-grupo {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh;
  padding: 20px; 
  box-sizing: border-box;
}

.izquierda {
  flex: 1; 
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-right: 10px; 
}

.izquierda img {
  max-width: 100%; 
  height: auto;
  max-height: 80%; 
}

.container-crear-grupo-titulo {
  flex: 1.5; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  font-size: large;
}

.container-crear-grupo-titulo h1 {
  text-align: center;
  margin-bottom: 20px; 
  font-size: xx-large;

}

.input-group {
  margin-bottom: 15px;
  width: 130%; 
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 90%; 
  padding: 12px; 
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-top: 10px; 
  font-size: large;
}

button:hover {
  background-color: #0056b3;
}

.span-de-agregar-estancia {
  font-size: x-small;
}