/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* Header */
.header {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar .logo {
  font-size: 1.5rem;
  color: #03a4ed;
}

.navbar .nav {
  display: flex;
  gap: 1rem;
}

.navbar .nav li a {
  font-size: 1rem;
  color: #1e1e1e;
}

.navbar .nav li a.active, .navbar .nav li a:hover {
  color: #fe3f40;
}

.btn {
  padding: 0.5rem 1rem;
  background-color: #03a4ed;
  color: #fff;
  border-radius: 5px;
}

/* Banner */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 1rem;
  background: #f9f9f9;
}

.banner .content {
  max-width: 50%;
}

.banner h6 {
  margin-bottom: 1rem;
  color: #fe3f40;
}

.banner h2 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.banner h2 em {
  font-style: italic;
}

.banner h2 span {
  color: #03a4ed;
}

.banner p {
  margin-bottom: 2rem;
}

.banner form {
  display: flex;
  gap: 1rem;
}

.banner form input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.banner form button {
  padding: 0.5rem 1rem;
  background-color: #03a4ed;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.banner .image {
  max-width: 40%;
}

/* beneficios */
.about {
  padding: 5rem 1rem;
}

.about .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about .row {
  display: flex;
  align-items: center;
}

.about .image-left {
  max-width: 40%;
  margin-right: 2rem;
}

.services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.service {
  text-align: center;
}

.service img {
  width: 50px;
  margin-bottom: 1rem;
}

.service h4 {
  margin-bottom: 1rem;
  color: #03a4ed;
}

.service p {
  color: #666;
}
